<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngtube.demo.mapper.CommentMapper">

    <insert id="insertOneVideoComment" parameterType="videoComment">
        insert into videoComment
        values (#{commentId}, #{userId}, #{videoId}, #{commentContent},
                #{commentDate}, #{fatherCommentId}, #{replyCommentId},
                #{commentAuditStatus}, #{videoCommentIsTop})
    </insert>

    <select id="findVideoCommentByVideoIdWithHot" resultType="videoComment">
        select *
        from videoComment
        where videoId = #{videoId}
    </select>

    <select id="findFatherVideoCommentByVideoIdWithHot" resultType="videoComment">
        select *
        from videoComment
        where videoId = #{videoId}
          and fatherCommentId = 0
    </select>

    <select id="findReplyVideoCommentByVideoId" resultType="videoComment">
        select *
        from videoComment
        where videoId = #{videoId}
          and fatherCommentId = #{fatherCommentId}
        order by commentDate asc
    </select>

    <select id="findReplyVideoCommentUserId" resultType="java.lang.Integer">
        select userId
        from videoComment
        where commentId = #{commentId}
    </select>

    <select id="findVideoCommentByVideoIdWithNew" resultType="videoComment">
        select *
        from videoComment
        where videoId = #{videoId}
        order by commentDate desc
    </select>

    <select id="findDynamicCommentByDynamicId" resultType="dynamicComment">
        select *
        from dynamicComment
        where dynamicId = #{dynamicId}
        order by commentDate desc
    </select>

    <insert id="insertOneDynamicComment" parameterType="dynamicComment">
        insert into dynamicComment
        values (#{commentId}, #{userId}, #{dynamicId}, #{commentContent}, #{commentPraise}, #{commentDislike},
                #{commentDate}, #{fatherCommentId}, #{commentAuditStatus}, #{dynamicCommentIsTop})
    </insert>

    <select id="findCommentPraiseCount" resultType="java.lang.Integer">
        select count(userId)
        from videoCommentClick
        where commentId = #{commentId}
          and clickMode = 0
    </select>

    <select id="findOneCommentPraise" resultType="java.lang.Integer">
        select count(commentId)
        from videoCommentClick
        where commentId = #{commentId}
          and userId = #{userId}
          and clickMode = 0
    </select>

    <insert id="insertOneVideoCommentPraise">
        insert into videoCommentClick
        values (#{commentId}, #{userId}, #{clickDate}, #{clickMode})
    </insert>

    <delete id="deleteOneVideoCommentPraise">
        delete
        from videoCommentClick
        where commentId = #{commentId}
          and userId = #{userId}
          and clickMode = 0
    </delete>
</mapper>