<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngtube.demo.mapper.DynamicMapper">

    <select id="findDynamicsByUserId" resultType="dynamic">
        select *
        from `dynamic`
        where userId = #{userId}
        order by dynamicDate desc
    </select>

    <select id="insertOneDynamic" parameterType="dynamic">
        insert into `dynamic`
        values (#{dynamicId}, #{userId}, #{dynamicContent}, #{dynamicIsTop}, #{dynamicDate})
    </select>

    <select id="findFollowedDynamics" parameterType="java.lang.Integer" resultType="dynamic">
        select * from `dynamic` where userId in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by dynamicDate desc
    </select>

</mapper>