<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngtube.demo.mapper.TagMapper">


    <select id="findTagById" resultType="videoTag">
        select * from videoTag where videoId=#{videoId}
    </select>

    <insert id="insertTag" parameterType="videoTag">
        insert into videoTag values (0,#{tagName},#{videoId})
    </insert>

    <select id="findAllTag" resultType="videoTag">
        select * from videoTag
    </select>
</mapper>