<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngtube.demo.mapper.UserSimiliarityMapper">

    <select id="findAllUserSimiliarity" resultType="userSimiliarity">
        select userId1,userId2,similiarity from userSimiliarity
    </select>

    <insert id="insertUserSimiliarity" parameterType="userSimiliarity">
        insert into userSimiliarity values (#{userId1},#{userId2},#{similiarity})ON DUPLICATE KEY
        UPDATE
            userId1=
        values (userId1),
            userId2=
        values (userId2),
            similiarity=
        values (similiarity)


    </insert>

    <select id="findAppropriateUser" resultType="userSimiliarity">
        select userId2 from userSimiliarity where userId1=#{userId1}  order by similiarity desc limit 3
    </select>

</mapper>