<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngtube.demo.mapper.UserMapper">

    <insert id="insertOne" parameterType="user">
        insert into user(userPetName, userSignature, userPassword, userHeadSrc, userAddress,
                         userIp, userPhone, vipGrade, userReputation, userIsUp, registTime, userCoin)
        values (#{userPetName}, #{userSignature}, #{userPassword}, #{userHeadSrc}, #{userAddress},
                #{userIp}, #{userPhone}, #{vipGrade}, #{userReputation}, #{userIsUp}, #{registTime}, #{userCoin})
    </insert>

    <select id="findByUserPetName" resultType="user">
        select *
        from user
        where userPetName = #{userPetName}
          and userPassword = #{userPassword}
    </select>

    <select id="findOneByUserId" resultType="user">
        select *
        from user
        where userId = #{userId}
    </select>

    <update id="updateUserCoinByUserId">
        update user
        set userCoin=userCoin - #{coinCount}
        where userId = #{userId}
    </update>

    <select id="findUserFansCount" resultType="java.lang.Integer">
        select count(followUserId)
        from follow
        where followedUserId = #{userId}
    </select>

    <select id="findOneUserFollow" resultType="java.lang.Integer">
        select count(*)
        from follow
        where followUserId = #{followUserId}
          and followedUserId = #{followedUserId}
    </select>

    <insert id="insertOneUserFollow">
        insert into follow
        values (#{followUserId}, #{followedUserId}, #{followDate}, #{followMode})
    </insert>

    <delete id="deleteOneUserFollow">
        delete
        from follow
        where followUserId = #{followUserId}
          and followedUserId = #{followedUserId}
    </delete>

</mapper>