<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngtube.demo.mapper.VideoHeatMapper">

    <select id="findTotalHeat" resultType="videoHeat">
        select videoId from videoHeat where categoryId=#{categoryId} order by totalHeat desc limit 7
    </select>

    <insert id="insertTotalHeat" parameterType="videoHeat">
        insert into videoHeat values (#{videoId},#{categoryId},0,0,0,0,#{totalHeat})
    </insert>

</mapper>