<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngtube.demo.mapper.VideoScoreMapper">
    <select id="findAllScore" resultType="videoScore">
        select * from videoScore
    </select>

    <insert id="insertVideoScore" parameterType="videoScore">
        insert into videoScore values (#{userId},#{videoId},#{score})ON DUPLICATE KEY
        UPDATE
            userId=
        values (userId),
            videoId=
        values (videoId),
            score=
        values (score)
    </insert>

    <select id="getOneScore" resultType="java.lang.Integer">
        select score from videoScore where userId=#{userId}
    </select>

</mapper>