<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngtube.demo.mapper.VideoMapper">


    <select id="find8ByCategory" resultType="video">
        select videoId,
               videoName,
               videoFrontSrc,
               videoViewCount,
               videoAuditStatus,
               videoUpId,
               videoTeenagerMode,
               videoDuring
        from video limit 8
    </select>

    <select id="find6WithRecommend" resultType="video">
        select videoId, videoName, videoFrontSrc, videoViewCount, videoAuditStatus, videoUpId, videoTeenagerMode
        from video limit 6
    </select>

    <select id="find7ByCategoryAndRank" resultType="video">
        select videoId, videoName, videoAuditStatus, videoTeenagerMode
        from video
        order by videoViewCount desc limit 7
    </select>

    <select id="findOneById" resultType="video">
        select *
        from video
        where videoId = #{videoId}
    </select>

    <select id="find20WithVideoId" resultType="video">
        select videoId,
               videoName,
               videoFrontSrc,
               videoViewCount,
               videoAuditStatus,
               videoUpId,
               videoTeenagerMode,
               videoDuring
        from video limit 20
    </select>

    <select id="findVideosBySearch" resultType="video">
        select * from video where 1=1
        <if test="categoryId>0">
            and videoCategory=#{categoryId}
        </if>
        <if test="searchTex!='n.u.l.l.'">
            and (videoName like '%${searchTex}%' or videoIntroduction like '%${searchTex}%')
        </if>
        <if test="searchMode==1">
            order by videoIssuingTime desc,length(videoName) asc
        </if>
        <if test="searchMode==0">
            order by videoViewCount desc,length(videoName) asc
        </if>

    </select>

    <select id="findVideoCountByUserId" resultType="java.lang.Integer">
        select count(videoId)
        from video
        where videoUpId = #{userId}
    </select>

    <select id="findVideoByUserId" resultType="video">
        select videoId, videoName, videoFrontSrc, videoIssuingTime, videoAuditStatus
        from video
        where videoUpId = #{userId}
    </select>
</mapper>