<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>YoungTuBe-首页</title>

    <link rel="stylesheet" th:href="@{/notcommon/bilibiliIndex/css/reset.css}">
    <link rel="stylesheet" th:href="@{/notcommon/bilibiliIndex/css/common.css}">
    <link rel="stylesheet" th:href="@{/notcommon/bilibiliIndex/css/index.css}">
    <script th:src="@{/notcommon/Homepage/js/jquery.min.js}"></script>
    <script th:src="@{/common/js/jquery-3.3.1.js}"></script>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script th:src="@{/notcommon/bilibiliIndex/js/script.js}"></script>
    <script th:inline="javascript">
        window.onload = function () {
            $('#area2').hide()
            $('#area3').hide()
            $('#area4').hide()
            $('#area5').hide()
            $('#area6').hide()
            //thymleaf整合ajax局部加载数据
            $('#top_barr').load("/pages/getCategory1");

            $('#video_recommend').load("/video/loadOnRecommand");

            $('#video_homepage1').load("/video/loadOnHomePageWithCategory/1");
            $('#video_rank_category1').load("/video/loadOnRankWithCategory/1");

            $('#right_barr').load("/pages/getCategory2");
        }
    </script>
    <script>
        $(window).scroll(function() {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
            if (scrollTop + windowHeight == scrollHeight) {
                for(i=2;i<=6;i++)
                {
                    $('#video_homepage'+i).load("/video/loadOnHomePageWithCategory/"+i);
                    $('#video_rank_category'+i).load("/video/loadOnRankWithCategory/"+i);
                }
                for(j=2;j<=6;j++)
                {
                    $('#area'+j).show();
                }
                if($('.loadmoreDiv a')){
                    $('.loadmoreDiv a').click();
                }
//         alert("bottom reached !");
            }
        });
    </script>
</head>

<body>

<!--    引入顶部导航条-->
    <div th:replace="/header.html::#header"></div>

<!--分区和推荐给用户的视频-->
<nav id="nav">
    <div class="page-width clearfix">
        <ul class="nav-list">
            <li class="item item-home"><a th:href="@{/pages/toIndex}" class="link">首页</a>
            </li>
            <span id="top_barr">
                <li class="item" th:fragment="top_bar_ul" th:each="category:${categorys1}">
                     <a class="link">
                         <div class="num">
                             <i>999+</i>
                         </div>
                         <p th:text="${category.categoryName}">动画</p>
                     </a>
                 </li>
            </span>
            <li class="item item-square"><a href="testshabi.sf" class="link">广场</a>
                <div class="nav-square__hover">
                    <ul>
                        <li><a href="#"><i class="icon-activity"></i>活动中心</a></li>
                        <li><a href="#"><i class="icon-game"></i>游戏中心</a></li>
                        <li><a href="#"><i class="icon-news"></i>新闻中心</a></li>
                        <li><a href="#"><i class="icon-friend"></i>画友</a></li>
                        <li><a href="#"><i class="icon-tv"></i>芒果TV</a></li>
                    </ul>
                    <!--
            <a href="#" class="activity"><img src="images/cont/nav-square__img.jpg" alt="#"></a> -->
                </div>
            </li>

            <li class="item item-room"><a href="#" class="link">小黑屋</a></li>
        </ul>
        <div class="nav-gif" id="qiulingyang">
            <img
                    th:src="@{/notcommon/bilibiliIndex/images/cont/nav_img.gif}"
                    alt="求领养">
        </div>
    </div>
</nav>

<div id="banner">
    <div class="page-width clearfix">
        <div class="slider fl">
            <div class="slider-img">
                <a href="#" slider-title="pic1"><img
                        th:src="@{/notcommon/bilibiliIndex/images/cont/slider_img1.png}"
                        alt="#"></a> <a href="#" slider-title="pic2"><img
                    th:src="@{/notcommon/bilibiliIndex/images/cont/slider_img2.png}"
                    alt="#"></a> <a href="#" slider-title="pic3"><img
                    th:src="@{/notcommon/bilibiliIndex/images/cont/slider_img3.png}"
                    alt="#"></a> <a href="#" slider-title="pic4"><img
                    th:src="@{/notcommon/bilibiliIndex/images/cont/slider_img4.png}"
                    alt="#"></a>
            </div>
            <div class="slider-title">
                <p>pic1</p>
            </div>
            <div class="slider-btn">
                <span class="cur"></span> <span></span> <span></span> <span></span>
            </div>
            <a href="#" class="slider-more">More</a>
        </div>
<!--给用户推荐的6个视频-->
        <div class="banner-list fr">
            <ul id="video_recommend">
                <li th:fragment="video_recommend" th:each="singleVideo,singleVideoStatus:${videos_recommend}"><a
                        th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|">
                    <img th:src="${singleVideo.videoFrontSrc}"
                         alt="#">
                    <div class="info">
                        <p class="title" th:text="${singleVideo.videoName}">名称</p>
                        <p class="author"
                           th:text="|up主:${userNames_recommend[singleVideoStatus.index]}|">up主：admin</p>
                        <p class="play" th:text="|播放量:${singleVideo.videoViewCount}|">播放量</p>
                    </div>
                </a></li>
            </ul>
            <a href="#" class="btn btn-prev">昨日</a> <a href="#"
                                                       class="btn btn-next">一周</a>
        </div>
    </div>
</div>

<!--各分区-->
<div id="main">
    <div class="page-width">
        <!-- 推广 -->

        <!-- 动画 -->
        <div class="mainCont clearfix" id="area1" js-move="true">
            <div class="pic-list fl" js-tab="true">
                <div class="pic-list__title">
                    <i class="icon icon-dance"></i>
                    <h2>动画</h2>
                    <div class="tab-title">
                        <a href="#" class="cur">有新动态</a>
                    </div>
                    <div class="more-wrap">
                        <a href="#" class="dynamic" id="shuaxin"><i></i>39条新动态</a>
                    </div>
                </div>
                <ul id="video_homepage1" class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
                    <!-- 这里开始遍历 -->
                    <li class="item" th:fragment="video_homepage1" th:each="singleVideo,singleVideoStat:${videos}">
                        <a
                                th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"
                                class="img-link"> <img
                                th:src="${singleVideo.videoFrontSrc}" alt="#">
                            <span class="mask"></span> <span th:text="${singleVideo.videoViewCount}"
                                                             class="time"></span>
                        </a>
                        <div class="img-info">
                            <a th:text="${singleVideo.videoName}"
                               th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"></a>
                            <div class="btm">
                                <div class="user" th:utext="|<i></i>${userNames[singleVideoStat.index]}|">
                                </div>
                                <div class="online" th:utext="|<i></i>${singleVideo.videoViewCount}|">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-side fr" js-tab="true">
                <div class="main-side__title">
                    <div class="rank-t">
                        <h3>排行</h3>
                    </div>
                    <div class="tab-title">
                        <a href="#" class="cur">全部</a>
                    </div>
                </div>
                <div class="main-side__cont">
                    <div class="tab-cont">
                        <ul class="tab-cont__item main-rank" id="video_rank_category1">
                            <li class='item' th:fragment="video_rank_category1"
                                th:each="singleVideo,singleVideoStat:${videos_rank}">
                                <i class='n2' th:text="${singleVideoStat.count}">1</i>
                                <a th:text="${singleVideo.videoName}"
                                   th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|">
                                    test
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="more" id="chakan">
                        查看更多<i></i>
                    </button>

                    <script type="text/javascript">
                    </script>
                </div>
            </div>
        </div>

        <!-- 生活-->
        <div class="mainCont clearfix" id="area2" js-move="true">
            <div class="pic-list fl" js-tab="true">
                <div class="pic-list__title">
                    <i class="icon icon-dance"></i>
                    <h2>生活</h2>
                    <div class="tab-title">
                        <a href="#" class="cur">有新动态</a>

                    </div>

                    <div class="more-wrap">
                        <a href="#" class="dynamic" id="shuaxin"><i></i>392条新动态</a>

                    </div>
                </div>
                <ul id="video_homepage2" class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
                    <!-- 这里开始遍历 -->
                    <li class="item" th:fragment="video_homepage2" th:each="singleVideo,singleVideoStat:${videos}">
                        <a
                                th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"
                                class="img-link"> <img
                                th:src="${singleVideo.videoFrontSrc}" alt="#">
                            <span class="mask"></span> <span th:text="${singleVideo.videoViewCount}"
                                                             class="time"></span>
                        </a>
                        <div class="img-info">
                            <a th:text="${singleVideo.videoName}"
                               th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"></a>
                            <div class="btm">
                                <div class="user" th:utext="|<i></i>${userNames[singleVideoStat.index]}|">
                                </div>
                                <div class="online" th:utext="|<i></i>${singleVideo.videoViewCount}|">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-side fr" js-tab="true">
                <div class="main-side__title">
                    <div class="rank-t">
                        <h3>排行</h3>
                    </div>
                    <div class="tab-title">
                        <a href="#" class="cur">全部</a>
                    </div>
                </div>
                <div class="main-side__cont">
                    <div class="tab-cont">
                        <ul class="tab-cont__item main-rank" id="video_rank_category2">
                            <li class='item' th:fragment="video_rank_category2"
                                th:each="singleVideo,singleVideoStat:${videos_rank}">
                                <i class='n2' th:text="${singleVideoStat.count}">1</i>
                                <a th:text="${singleVideo.videoName}"
                                   th:href='|@{/pages/toVideoPlay}/${singleVideo.videoId}|'>
                                    test
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="more" id="chakan">
                        查看更多<i></i>
                    </button>

                    <script type="text/javascript">
                    </script>
                </div>
            </div>
        </div>

        <!-- 音乐-->
        <div class="mainCont clearfix" id="area3" js-move="true">
            <div class="pic-list fl" js-tab="true">
                <div class="pic-list__title">
                    <i class="icon icon-dance"></i>
                    <h2>音乐</h2>
                    <div class="tab-title">
                        <a href="#" class="cur">有新动态</a>

                    </div>

                    <div class="more-wrap">
                        <a href="#" class="dynamic" id="shuaxin"><i></i>392条新动态</a>

                    </div>
                </div>
                <ul id="video_homepage3" class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
                    <!-- 这里开始遍历 -->
                    <li class="item" th:fragment="video_homepage3" th:each="singleVideo,singleVideoStat:${videos}">
                        <a
                                th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"
                                class="img-link"> <img
                                th:src="${singleVideo.videoFrontSrc}" alt="#">
                            <span class="mask"></span> <span th:text="${singleVideo.videoViewCount}"
                                                             class="time"></span>
                        </a>
                        <div class="img-info">
                            <a th:text="${singleVideo.videoName}"
                               th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"></a>
                            <div class="btm">
                                <div class="user" th:utext="|<i></i>${userNames[singleVideoStat.index]}|">
                                </div>
                                <div class="online" th:utext="|<i></i>${singleVideo.videoViewCount}|">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-side fr" js-tab="true">
                <div class="main-side__title">
                    <div class="rank-t">
                        <h3>排行</h3>
                    </div>
                    <div class="tab-title">
                        <a href="#" class="cur">全部</a>
                    </div>
                </div>
                <div class="main-side__cont">
                    <div class="tab-cont">
                        <ul class="tab-cont__item main-rank" id="video_rank_category3">
                            <li class='item' th:fragment="video_rank_category3"
                                th:each="singleVideo,singleVideoStat:${videos_rank}">
                                <i class='n2' th:text="${singleVideoStat.count}">1</i>
                                <a th:text="${singleVideo.videoName}"
                                   th:href='|@{/pages/toVideoPlay}/${singleVideo.videoId}|'>
                                    test
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="more" id="chakan">
                        查看更多<i></i>
                    </button>

                    <script type="text/javascript">
                    </script>
                </div>
            </div>
        </div>

        <!-- 资讯-->
        <div class="mainCont clearfix" id="area4" js-move="true">
            <div class="pic-list fl" js-tab="true">
                <div class="pic-list__title">
                    <i class="icon icon-dance"></i>
                    <h2>资讯</h2>
                    <div class="tab-title">
                        <a href="#" class="cur">有新动态</a>
                    </div>
                    <div class="more-wrap">
                        <a href="#" class="dynamic" id="shuaxin"><i></i>39条新动态</a>
                    </div>
                </div>
                <ul id="video_homepage4" class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
                    <!-- 这里开始遍历 -->
                    <li class="item" th:fragment="video_homepage4" th:each="singleVideo,singleVideoStat:${videos}">
                        <a
                                th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"
                                class="img-link"> <img
                                th:src="${singleVideo.videoFrontSrc}" alt="#">
                            <span class="mask"></span> <span th:text="${singleVideo.videoViewCount}"
                                                             class="time"></span>
                        </a>
                        <div class="img-info">
                            <a th:text="${singleVideo.videoName}"
                               th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"></a>
                            <div class="btm">
                                <div class="user" th:utext="|<i></i>${userNames[singleVideoStat.index]}|">
                                </div>
                                <div class="online" th:utext="|<i></i>${singleVideo.videoViewCount}|">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-side fr" js-tab="true">
                <div class="main-side__title">
                    <div class="rank-t">
                        <h3>排行</h3>
                    </div>
                    <div class="tab-title">
                        <a href="#" class="cur">全部</a>
                    </div>
                </div>
                <div class="main-side__cont">
                    <div class="tab-cont">
                        <ul class="tab-cont__item main-rank" id="video_rank_category4">
                            <li class='item' th:fragment="video_rank_category4"
                                th:each="singleVideo,singleVideoStat:${videos_rank}">
                                <i class='n2' th:text="${singleVideoStat.count}">1</i>
                                <a th:text="${singleVideo.videoName}"
                                   th:href='|@{/pages/toVideoPlay}/${singleVideo.videoId}|'>
                                    test
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="more" id="chakan">
                        查看更多<i></i>
                    </button>

                    <script type="text/javascript">
                    </script>
                </div>
            </div>
        </div>

        <!--游戏-->
        <div class="mainCont clearfix" id="area5" js-move="true">
            <div class="pic-list fl" js-tab="true">
                <div class="pic-list__title">
                    <i class="icon icon-dance"></i>
                    <h2>游戏</h2>
                    <div class="tab-title">
                        <a href="#" class="cur">有新动态</a>
                    </div>
                    <div class="more-wrap">
                        <a href="#" class="dynamic" id="shuaxin"><i></i>39条新动态</a>
                    </div>
                </div>
                <ul id="video_homepage5" class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
                    <!-- 这里开始遍历 -->
                    <li class="item" th:fragment="video_homepage5" th:each="singleVideo,singleVideoStat:${videos}">
                        <a
                                th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"
                                class="img-link"> <img
                                th:src="${singleVideo.videoFrontSrc}" alt="#">
                            <span class="mask"></span> <span th:text="${singleVideo.videoViewCount}"
                                                             class="time"></span>
                        </a>
                        <div class="img-info">
                            <a th:text="${singleVideo.videoName}"
                               th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"></a>
                            <div class="btm">
                                <div class="user" th:utext="|<i></i>${userNames[singleVideoStat.index]}|">
                                </div>
                                <div class="online" th:utext="|<i></i>${singleVideo.videoViewCount}|">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-side fr" js-tab="true">
                <div class="main-side__title">
                    <div class="rank-t">
                        <h3>排行</h3>
                    </div>
                    <div class="tab-title">
                        <a href="#" class="cur">全部</a>
                    </div>
                </div>
                <div class="main-side__cont">
                    <div class="tab-cont">
                        <ul class="tab-cont__item main-rank" id="video_rank_category5">
                            <li class='item' th:fragment="video_rank_category5"
                                th:each="singleVideo,singleVideoStat:${videos_rank}">
                                <i class='n2' th:text="${singleVideoStat.count}">1</i>
                                <a th:text="${singleVideo.videoName}"
                                   th:href='|@{/pages/toVideoPlay}/${singleVideo.videoId}|'>
                                    test
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="more" id="chakan">
                        查看更多<i></i>
                    </button>

                    <script type="text/javascript">
                    </script>
                </div>
            </div>
        </div>

        <!--知识-->
        <div class="mainCont clearfix" id="area6" js-move="true">
            <div class="pic-list fl" js-tab="true">
                <div class="pic-list__title">
                    <i class="icon icon-dance"></i>
                    <h2>知识</h2>
                    <div class="tab-title">
                        <a href="#" class="cur">有新动态</a>
                    </div>
                    <div class="more-wrap">
                        <a href="#" class="dynamic" id="shuaxin"><i></i>39条新动态</a>
                    </div>
                </div>
                <ul id="video_homepage6" class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
                    <!-- 这里开始遍历 -->
                    <li class="item" th:fragment="video_homepage6" th:each="singleVideo,singleVideoStat:${videos}">
                        <a
                                th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"
                                class="img-link"> <img
                                th:src="${singleVideo.videoFrontSrc}" alt="#">
                            <span class="mask"></span> <span th:text="${singleVideo.videoViewCount}"
                                                             class="time"></span>
                        </a>
                        <div class="img-info">
                            <a th:text="${singleVideo.videoName}"
                               th:href="|@{/pages/toVideoPlay}/${singleVideo.videoId}|"></a>
                            <div class="btm">
                                <div class="user" th:utext="|<i></i>${userNames[singleVideoStat.index]}|">
                                </div>
                                <div class="online" th:utext="|<i></i>${singleVideo.videoViewCount}|">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-side fr" js-tab="true">
                <div class="main-side__title">
                    <div class="rank-t">
                        <h3>排行</h3>
                    </div>
                    <div class="tab-title">
                        <a href="#" class="cur">全部</a>
                    </div>
                </div>
                <div class="main-side__cont">
                    <div class="tab-cont">
                        <ul class="tab-cont__item main-rank" id="video_rank_category6">
                            <li class='item' th:fragment="video_rank_category6"
                                th:each="singleVideo,singleVideoStat:${videos_rank}">
                                <i class='n2' th:text="${singleVideoStat.count}">1</i>
                                <a th:text="${singleVideo.videoName}"
                                   th:href='|@{/pages/toVideoPlay}/${singleVideo.videoId}|'>
                                    test
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="more" id="chakan">
                        查看更多<i></i>
                    </button>

                    <script type="text/javascript">
                    </script>
                </div>
            </div>
        </div>

    </div>
</div>

<!--右侧导航条，可锚点跳转-->
<div id="sideBar">
    <div class="sideBar-list">
        <br>
        <p id="right_barr">
            <a th:fragment="right_bar_ul" th:each="category,categoryStat:${categorys2}" th:href="|#area${categoryStat.count}|"  th:text="${category.categoryName}">动漫</a>
        </p>
        <a href="#"><i></i>排序</a>
    </div>
    <button id="closemusic" type="button">关闭音乐</button>
    <div class="sideBar-line"></div>
    <a href="#" class="sideBar-toTop" id="backTop"></a>
</div>


<!-- 背景音乐

        <EMBED  id="music" src="/static/The Truth That You Leave.mp3"  HIDDEN="true" volume="10"  controller="true" autostart="true" loop="true">
        <script type="text/javascript">
        $("#closemusic").click(function(){
            /* $("#music").playOrPause(); */
            document.embeds('music').stop();
        })

        </script>
-->
<div id="active_content" class="content">
</div>

</body>
</html>