<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>YoungTuBe-首页</title>

    <link rel="stylesheet" th:href="@{/notcommon/bilibiliIndex/css/reset.css}">
    <link rel="stylesheet" th:href="@{/notcommon/bilibiliIndex/css/common.css}">
    <link rel="stylesheet" th:href="@{/notcommon/bilibiliIndex/css/index.css}">
    <!--    <link th:href="@{/notcommon/bilibiliIndex/css/yk_dynamic2.css}" rel="stylesheet">-->
    <!--    <link th:href="@{/common/css/bootstrap.min.css}" rel="stylesheet">-->
    <!--    <link rel="stylesheet" type="text/css"-->
    <!--          href="https://cdnjs.cloudflare.com/ajax/libs/emojione/1.5.2/assets/sprites/emojione.sprites.css"-->
    <!--          media="screen">-->
    <!--    <link rel="stylesheet" type="text/css" href="css/emojionearea.min.css" media="screen">-->
    <script th:src="@{/notcommon/Homepage/js/jquery.min.js}"></script>
    <script th:src="@{/common/js/jquery-3.3.1.js}"></script>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script th:src="@{/notcommon/bilibiliIndex/js/script.js}"></script>
    <script th:inline="javascript">
        window.onload = function () {
            //thymleaf整合ajax局部加载数据
            $('#top_barr').load("/pages/getCategory1");
            $('#video_recommend').load("/video/loadOnRecommand");
            $('#video_homepage').load("/video/loadOnHomePageWithCategory/1");
            $('#video_rank_category').load("/video/loadOnRankWithCategory/1");
            $('#right_barr').load("/pages/getCategory2");
        }
    </script>
</head>

<body>

<header id="header">
    <div id="page_top">
        <div class="bg-wrap">
            <div class="bg"></div>
            <div class="mask"></div>
        </div>
        <div class="header-top">
            <div class="page-width clearfix">
                <div class="header-top__nav">
                    <ul>
                        <li class="item item-home"><a th:href="@{/pages/toIndex}">主站</a></li>
                        <!-- <li class="item"><a href="Shopping.sf">周边</a></li> -->
                        <li class="item"><a href="Shopping.sf">商品购买</a>
                        <li class="item"><a href="videoFileTop">我要投稿</a>
                        <li class="item"><a href="forum.sf">进入论坛</a></li>
                        <li class="item" style="width: 300px;" contenteditable="true"><a
                                style="color: #0AB5DA">输入搜索内容</a></li>
                        <li class="item"><a href="forum.sf"><img src="/common/pictures/system/searchlogo.png"
                                                                 style="margin-top: 7px; height: 30px;width: 30px;border-radius:50%;overflow: hidden"></a>
                        </li>
                    </ul>
                </div>
                <div class="header-top__user">
                    <div id="notlogin" th:if="${session.nowUser}==null" class="login-box">
                        <a th:href="@{/pages/toLogin}">登录</a>
                        <span></span>
                        <a th:href="@{/pages/toRegist}">注册</a>
                    </div>

                    <div th:if="${session.nowUser}!=null" class="login-box">
                        <img th:src="${session.nowUser.userHeadSrc}"
                             style="margin-top: 7px; height: 30px;width: 30px;border-radius:50%;overflow: hidden">

                        <p class="login-box" onmouseout="asjdh()" onmouseover="project()"><a
                                href="yk_dynamic2.html">消息</a></p>
                        <p class="login-box"><a href="yk_dynamic2.html">动态</a></p>
                        <p class="login-box"><a href="personal_index.html">收藏</a></p>
                        <p class="login-box"><a href="history.html">历史</a></p>
                        <p class="login-box"><a href="personal_index.html">上传视频</a></p>
                    </div>

                </div>
                <div th:if="${session.nowUser}!=null" class="header-top__user">
                    <ul id="hovertb" onmouseout="asjdh()" onmouseover="project()"
                        style="position: absolute; margin-top: 45px;margin-right: 320px;">
                        <li><a href="#">回复我的</a></li>
                        <li><a href="#">@我的</a></li>
                        <li><a href="#">收到的赞</a></li>
                        <li><a href="#">系统通知</a></li>
                        <li><a href="#">我的消息</a></li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#hovertb").hide();

                })

                function asjdh() {//移出
                    $("#hovertb").hide();
                }

                function project() {//移入
                    $("#hovertb").show();
                }
            </script>
        </div>
    </div>
    </div>
    </div>
    <div class="header-c">
        <div class="page-width">
            <a href="#" id="header_logo"></a>
            <p id="header_title"></p>

            <div class="header-title">YoungTube (゜-゜)つロ 干杯~</div>
        </div>
    </div>
</header>

<nav id="nav">
    <div class="page-width clearfix">
        <ul class="nav-list">
            <li class="item item-home"><a th:href="@{/pages/toIndex}" class="link">首页</a>
            </li>
            <span id="top_barr">
                <li class="item" th:fragment="top_bar_ul" th:each="category:${categorys1}">
                     <a class="link">
                         <div class="num">
                             <i>999+</i>
                         </div>
                         <p th:text="${category.categoryName}">动画</p>
                     </a>
                 </li>
            </span>
            <li class="item item-square"><a href="testshabi.sf" class="link">广场</a>
                <div class="nav-square__hover">
                    <ul>
                        <li><a href="#"><i class="icon-activity"></i>活动中心</a></li>
                        <li><a href="#"><i class="icon-game"></i>游戏中心</a></li>
                        <li><a href="#"><i class="icon-news"></i>新闻中心</a></li>
                        <li><a href="#"><i class="icon-friend"></i>画友</a></li>
                        <li><a href="#"><i class="icon-tv"></i>芒果TV</a></li>
                    </ul>
                    <!--
            <a href="#" class="activity"><img src="images/cont/nav-square__img.jpg" alt="#"></a> -->
                </div>
            </li>

            <li class="item item-room"><a href="#" class="link">小黑屋</a></li>
        </ul>
        <div class="nav-gif" id="qiulingyang">
            <img
                    th:src="@{/notcommon/bilibiliIndex/images/cont/nav_img.gif}"
                    alt="求领养">
        </div>
    </div>
</nav>

<div id="banner">
    <div class="page-width clearfix">
        <div class="slider fl">
            <div class="slider-img">
                <a href="#" slider-title="pic1"><img
                        th:src="@{/notcommon/bilibiliIndex/images/cont/slider_img1.png}"
                        alt="#"></a> <a href="#" slider-title="pic2"><img
                    th:src="@{/notcommon/bilibiliIndex/images/cont/slider_img2.png}"
                    alt="#"></a> <a href="#" slider-title="pic3"><img
                    th:src="@{/notcommon/bilibiliIndex/images/cont/slider_img3.png}"
                    alt="#"></a> <a href="#" slider-title="pic4"><img
                    th:src="@{/notcommon/bilibiliIndex/images/cont/slider_img4.png}"
                    alt="#"></a>
            </div>
            <div class="slider-title">
                <p>pic1</p>
            </div>
            <div class="slider-btn">
                <span class="cur"></span> <span></span> <span></span> <span></span>
            </div>
            <a href="#" class="slider-more">More</a>
        </div>

        <div class="banner-list fr">
            <ul id="video_recommend">
                <li th:fragment="video_recommend" th:each="singVideo,singleVideoStatus:${videos_recommend}"><a
                        th:href="|video.sf?dizhi=${singVideo.videoSrc}&shipingID=${singVideo.videoId}|">
                    <img th:src="${singVideo.videoFrontSrc}"
                         alt="#">
                    <div class="info">
                        <p class="title" th:text="${singVideo.videoName}">名称</p>
                        <p class="author"
                           th:text="|up主:${userNames_recommend[singleVideoStatus.index]}|">up主：admin</p>
                        <p class="play" th:text="|播放量:${singVideo.videoViewCount}|">播放量</p>
                    </div>
                </a></li>
            </ul>
            <a href="#" class="btn btn-prev">昨日</a> <a href="#"
                                                       class="btn btn-next">一周</a>
        </div>
    </div>
</div>


<div id="main">
    <div class="page-width">
        <!-- 推广 -->

        <!-- 动画 -->
        <div class="mainCont clearfix" id="dance" js-move="true">
            <div class="pic-list fl" js-tab="true">
                <div class="pic-list__title">
                    <i class="icon icon-dance"></i>
                    <h2>动画</h2>
                    <div class="tab-title">
                        <a href="#" class="cur">有新动态</a>
                    </div>
                    <div class="more-wrap">
                        <a href="#" class="dynamic" id="shuaxin"><i></i>39条新动态</a>
                    </div>
                </div>
                <ul id="video_homepage" class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
                    <!-- 这里开始遍历 -->
                    <li class="item" th:fragment="video_homepage" th:each="singleVideo,singleVideoStat:${videos}">
                        <a
                                th:href="|video.html?dizhi=${singleVideo.videoSrc}&shipingID=${singleVideo.videoId}|"
                                class="img-link"> <img
                                th:src="${singleVideo.videoFrontSrc}" alt="#">
                            <span class="mask"></span> <span th:text="${singleVideo.videoViewCount}"
                                                             class="time"></span>
                        </a>
                        <div class="img-info">
                            <a th:text="${singleVideo.videoName}"
                               th:href="|video.html?dizhi=${singleVideo.videoSrc}&shipingID=${singleVideo.videoId}|"></a>
                            <div class="btm">
                                <div class="user" th:utext="|<i></i>${userNames[singleVideoStat.index]}|">
                                </div>
                                <div class="online" th:utext="|<i></i>${singleVideo.videoViewCount}|">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-side fr" js-tab="true">
                <div class="main-side__title">
                    <div class="rank-t">
                        <h3>排行</h3>
                    </div>
                    <div class="tab-title">
                        <a href="#" class="cur">全部</a>
                    </div>
                </div>
                <div class="main-side__cont">
                    <div class="tab-cont">
                        <ul class="tab-cont__item main-rank" id="video_rank_category">
                            <li class='item' th:fragment="video_rank_category"
                                th:each="singleVideo,singleVideoStat:${videos_rank}">
                                <i class='n2' th:text="${singleVideoStat.count}">1</i>
                                <a th:text="${singleVideo.videoName}"
                                   th:href='|video.sf?dizhi=${singleVideo.videoSrc}&shipingID=${singleVideo.videoId}|'>
                                    test
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="more" id="chakan">
                        查看更多<i></i>
                    </button>

                    <script type="text/javascript">
                    </script>
                </div>
            </div>
        </div>

        <!--生活-->


    </div>
</div>


<div id="sideBar">
    <div class="sideBar-list">
        <br>
        <p id="right_barr">
            <a href="#" th:fragment="right_bar_ul" th:each="category:${categorys2}" th:text="${category.categoryName}">动漫</a>
        </p>
        <a href="#"><i></i>排序</a>
    </div>
    <button id="closemusic" type="button">关闭音乐</button>
    <div class="sideBar-line"></div>
    <a href="#" class="sideBar-toTop" id="backTop"></a>
</div>


<!-- 背景音乐

        <EMBED  id="music" src="/static/The Truth That You Leave.mp3"  HIDDEN="true" volume="10"  controller="true" autostart="true" loop="true">
        <script type="text/javascript">
        $("#closemusic").click(function(){
            /* $("#music").playOrPause(); */
            document.embeds('music').stop();
        })

        </script>
-->
</body>
</html>