<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" th:href="@{/notcommon/personspace/css/yk-base.css}">
    <link rel="stylesheet" th:href="@{/notcommon/personspace/css/personal_index.css}">
    <link rel="stylesheet" th:href="@{/notcommon/personspace/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/notcommon/personspace/css/reset1.css}">
    <link rel="stylesheet" th:href="@{/notcommon/bilibiliIndex/css/common.css}">
    <link rel="stylesheet" th:href="@{/notcommon/personspace/css/index11.css}">

    <script type="text/javascript" th:src="@{/notcommon/personspace/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/notcommon/personspace/js/vue.min.js}"></script>
    <script th:src="@{/common/js/jquery-3.3.1.js}"></script>

    <style>
        #bigbody {
            background-image: url("/notcommon/personspace/img/海洋背景.png");
        }

        #layout_head {
            background-image: url("/notcommon/personspace/img/头像背景.png");
            background-repeat: no-repeat;
        }

        .weixin {
            background-image: url("/notcommon/personspace/img/各类图标.png");
            background-repeat: no-repeat;
            background-position: 0px -112px;
        }

        .qzone {
            background-image: url("/notcommon/personspace/img/各类图标.png");
            background-repeat: no-repeat;
            background-position: -32px -112px;
        }

        .weibo {
            background-image: url("/notcommon/personspace/img/各类图标.png");
            background-repeat: no-repeat;
            background-position: -64px -112px;
        }

        #con_video_main_null {
            background-image: url("/notcommon/personspace/img/nullvideo.png");
            background-repeat: no-repeat;
            background-position: center top;

        }

        #con_dynamic_null {
            background-image: url("/notcommon/personspace/img/nulldynamic.png");
            background-repeat: no-repeat;
            background-position: 400px 100px;
        }

        #con_collect_null {
            background-image: url("/notcommon/personspace/img/nullcollect.png");
            background-repeat: no-repeat;
            background-position: center;
        }

        .share_hand_code {
            background-image: url("/notcommon/personspace/img/各类图标.png");
            background-repeat: no-repeat;
            background-position: -96px -112px;
        }
    </style>
    <!--    顶部搜索栏-->
    <script>
        $(function () {
            $("#search input").click(function () {
                $("#search input").val("");
            })
            $("#icon_sub").hover(function () {
                document.getElementById("img1").src = "/notcommon/personspace/img/信号1_hover.svg";
            })
            $("#icon_sub").mouseleave(function () {
                document.getElementById("img1").src = "/notcommon/personspace/img/信号1.svg";
            })
            $("#icon_record").hover(function () {
                document.getElementById("img2").src = "/notcommon/personspace/img/时钟_hover.svg";
            })
            $("#icon_record").mouseleave(function () {
                document.getElementById("img2").src = "/notcommon/personspace/img/时钟.svg";
            })
            $("#icon_upload").hover(function () {
                document.getElementById("img3").src = "/notcommon/personspace/img/向上-排序_hover.svg";
            })
            $("#icon_upload").mouseleave(function () {
                document.getElementById("img3").src = "/notcommon/personspace/img/向上-排序.svg";
            })
            $("#icon_app").hover(function () {
                document.getElementById("img4").src = "/notcommon/personspace/img/电脑%20pc%20显示器_hover.svg";
            })
            $("#icon_app").mouseleave(function () {
                document.getElementById("img4").src = "/notcommon/personspace/img/电脑%20pc%20显示器.svg";
            })
        })
    </script>

    <!--    <script>-->
    <!--        $(function () {-->
    <!--            $("#share_hand").onmouseover(function () {-->
    <!--                var ele=document.getElementById("share_panel");-->
    <!--                ele.style.display = "none";-->
    <!--            })-->
    <!--        })-->
    <!--    </script>-->
    <script th:inline="javascript">

        var spaceUserId =/*[[${space_user.userId}]]*/'3';

        function video() {
            $("#con_video").css("display", "block");
            $("#con_dynamic").css("display", "none");
            $("#con_collect").css("display", "none");
        }

        function dynamic() {
            $("#con_video").css("display", "none");
            $("#con_dynamic").css("display", "block");
            $("#con_collect").css("display", "none");
        }

        function collect() {
            $("#con_video").css("display", "none");
            $("#con_dynamic").css("display", "none");
            $("#con_collect").css("display", "block");
        }


        function gettime(t) {
            var _time = new Date(t);
            var year = _time.getFullYear();//2017
            var month = _time.getMonth() + 1;//7
            var date = _time.getDate();//10
            var hour = _time.getHours();//10
            var minute = _time.getMinutes();//56
            var second = _time.getSeconds();//15
            return year + "年" + month + "月" + date + "日   ";//这里自己按自己需要的格式拼接
        }

        function check() {
            var tag1 =/*[[${space_user.upVideoNum}]]*/'0';
            var spaceUserId =/*[[${space_user.userId}]]*/'3';
            tag1 = parseInt(tag1);
            search2();
            var tag2;
            var tag3;
            var tagfans;

            if (tag1 == 0) {
                $("#con_video_main_null").css("display", "block");
                $("#con_video_main_nonull").css("display", "none");
            } else {
                $("#con_video_main_null").css("display", "none");
                $("#con_video_main_nonull").css("display", "block");
            }
            $("#con_video_main_nonull").load("/video/loadVideosByUserId/" + spaceUserId);
            $("#per_dynamic_cards").load("/dynamic/loadDynamicsByUserId/" + spaceUserId);


            $.ajax({
                url: "/searchcollect",
                type: "post",
                dataType: "text",
                data: {
                    'userId': uid
                },
                success: function (data) {
                    tag3 = data;
                    if (tag3 == 0) {
                        $("#con_collect_null").css("display", "block");
                        $("#con_collect_nonull").css("display", "none");
                    } else {
                        $("#con_collect_null").css("display", "none");
                        $("#con_collect_nonull").css("display", "block");
                    }
                }
            })

            $.ajax({
                url: "/showAllcollect",
                type: "post",
                dataType: "json",
                data: {
                    'userId': uid
                },
                success: function (data) {
                    console.log(data);
                    var co = [];
                    for (i = 0; i < data.length; i++) {
                        co = data[i];
                        co.videoCreateTime = gettime(co.videoCreateTime);
                        var $lc = $("<div class=\"per_collect\">\n" +
                            "                            <div class=\"per_collect_video_pic\">\n" +
                            "                                <a href=\"movie.html?videoId=" + co.videoId + "\"><img src=\"" + co.videoPicMov.videoPic + "\" style=\"width: 100%; height: 100%; float: left\"></a>\n" +
                            "                            </div>\n" +
                            "                            <div class=\"per_collect_video_title\"><span>" + co.videoDescript + "</span></div>\n" +
                            "                            <div class=\"per_collect_video_time\"><span>" + co.videoCreateTime + "</span></div>\n" +
                            "                        </div>")
                        $("#con_collect_nonull").append($lc);
                    }
                    $("")
                }
            })

        }


    </script>

</head>
<body id="bigbody" onload="check()">
<script>
    function search2()//搜索相关
    {
        $('#search_text2').click(function () //搜索输入框点击
        {
            $("#search_text2").text('');
        });
        $('#search_text2').blur(function () //搜索输入框失去焦点
        {
            var txt = $("#search_text2").text();
            if (txt == '') {
                $("#search_text2").text('输入搜索内容');
            }

        });
        $("#search_text2").on('keydown', function (event) { //搜索输入框回车
            //获取keyCode
            var keyCode = event.keyCode;
            if (keyCode === 13) {
                $("#search_button2").click();
                $("#search_text2").text('');
            }
        });
        $('#search_button2').click(function () //搜索按钮点击
        {

            var txt = $("#search_text2").text();
            txt = txt.trim();
            if (txt.length > 0) {
                if (txt == '输入搜索内容') {
                    $("#search_text2").text('');
                }
                location.href = "/pages/toVideoList?searchText=" + $("#search_text2").text();
            } else {
                location.href = "/pages/toIndex";
            }
        });
    }
</script>
<div id="body">
    <div th:replace="/header.html::#header1"></div>
    <div id="s_body">
        <div id="cont">
            <div id="layout_head">
                <div id="head_pic">
                    <img th:src="${space_user.userHeadSrc}" width="130" height="130">
                </div>
                <div id="head_share">
                </div>
                <div id="user_info">
                    <div id="user_name">
                        <a class="user_name" href="#">[[${space_user.userPetName}]]</a>
                    </div>
                    <div id="user_intro">
                        <span class="user_intro">[[${space_user.userSignature}]]</span>
                    </div>
                    <div id="user_fans">
                        <ul>
                            <li class="fans_num">
                                <em style="font-size: larger">[[${space_user.userFans}]]</em>
                                <br>
                                粉丝数
                            </li>
                        </ul>
                    </div>
                    <div id="user_focus">
                        <ul>
                            <li class="fans_num">
                                <em style="font-size: larger">[[${space_user.userFollows}]]</em>
                                <br>
                                关注数
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="layout_nav">
                <ul id="nav_menu">
                    <a class="nav_menu" href="javascript:void(0);" onclick="video();">投稿</a>
                    <a class="nav_menu" href="javascript:void(0);" onclick="dynamic()">动态</a>
                    <a class="nav_menu" href="javascript:void(0);" onclick="collect()">收藏</a>
                </ul>
                <form id="per_search">
                    <input class="search" type="text" placeholder="搜索视频" style="height: 20px;border: 0px">
                    <button type="submit" class="search_button">
                        <span class="glyphicon glyphicon-search"
                              style="color: rgb(0, 0, 0); font-size: 21px;background-color: white"></span>
                    </button>
                </form>
            </div>
            <div id="layout_content">
                <div id="con_video">
                    <div id="con_video_hd">
                        <div id="con_video_hd_title">
                            <h4>视频(<span>[[${space_user.upVideoNum}]]</span>)</h4>
                        </div>
                        <div id="con_video_hd_up">
                            <!--                            <li style="float: left; ">上传视频：</li>-->
                            <!--                            <form>-->
                            <!--                                <input type="file" style="width: 73px; height: 26px; float: right">-->
                            <!--                            </form>-->
                            <a th:if="|${session.nowUser.userId == space_user.userId}|" href="video_upload.html"
                               style="text-decoration: none;">上传视频></a>
                        </div>
                    </div>
                    <div id="con_video_main">
                        <div id="con_video_main_null" th:if="${space_user.upVideoNum}==0">
                            您还没有上传过视频！
                        </div>
                        <div id="con_video_main_nonull" th:if="${space_user.upVideoNum}>0">
                            <div class="per_video" th:fragment="up_videos" th:each="singleVideo:${up_videos}">
                                <div class="per_video_pic">
                                    <a th:href="|/pages/toVideoPlay/${singleVideo.videoId}|">
                                        <img th:src="${singleVideo.videoFrontSrc}"
                                             style="width: 100%; height: 100%; float: left">
                                    </a>
                                </div>
                                <div class="per_video_title"><span>[[${singleVideo.videoName}]]</span>></div>
                                <div class="per_video_time"><span
                                        th:text="${#dates.format(singleVideo.videoIssuingTime,'yyyy-MM-dd HH:mm:ss')}">2001:01:01 11:11:11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="con_video_main_upvideo"></div>
                </div>

                <div id="con_dynamic">
                    <div id="con_dynamic_null">
                        您还未发表过动态！
                    </div>
                    <div id="con_dynamic_nonull">
                        <a th:if="|${session.nowUser.userId == space_user.userId}|" style="margin-top: 10px;float:right;line-height: 20px;"
                           onclick="popDiv();">发布动态</a>
                        <div id="per_dynamic_cards">
                            <div id="per_dynamic_card" th:fragment="space_dynamics"
                                 th:each="singleDynamic:${space_dynamics}">
                                <div id="per_dynamic_card_head">
                                    <div id="per_dynamic_card_head_pic">
                                        <img th:src="${space_user.userHeadSrc}" width="75" height="75"
                                             style="float: left">
                                    </div>
                                    <div id="per_dynamic_card_head_username">
                                        <span>[[${space_user.userPetName}]]</span>
                                    </div>
                                    <div id="per_dynamic_card_head_time">
                                        <span th:text="${#dates.format(singleDynamic.dynamicDate,'yyyy-MM-dd HH:mm:ss')}">2019-09-19</span>
                                    </div>
                                </div>
                                <div id="per_dynamic_card_con">
                                    <span style="float:left;margin-left: 20px">[[${singleDynamic.dynamicContent}]]</span>
                                </div>
                                <div class="per_dynamic_card_interaction">
                                    <a style="float:left;">点赞(1)</a>
                                    <a>评论</a>
                                    <a style="float:right;">转发</a>
                                </div>
                            </div>
                        </div>
                        <div id="popDiv">
                            <div class="close">
                                <a href="javascript:void(0)" onclick="closePop()">关闭</a>
                            </div>
                            <p>请输入动态内容
                                <textarea id="dynamicContent" style="size: auto;line-height: 160px"></textarea>
                                <button onclick="sendDynamic();" style=" text-align: right; margin-top: 25px;background-color: #F8F8F8;line-height: 20px" value="发布">
                                    发布
                                </button>
                            </p>
                        </div>
                        <script type="text/javascript" th:inline="javascript">
                            function popDiv() {
                                // 获取div元素
                                var popBox = document.getElementById("popDiv");
                                var popLayer = document.getElementById("popLayer");

                                // 控制两个div的显示与隐藏
                                popBox.style.display = "block";
                                popLayer.style.display = "block";
                            }
                            function closePop() {
                                // 获取弹出窗口元素
                                let popDiv = document.getElementById("popDiv");

                                popDiv.style.display = "none";
                            }
                            function sendDynamic()
                            {
                                var spaceUserId =/*[[${space_user.userId}]]*/'3';
                                var dynamicContent = $("#dynamicContent").val();
                                $.post("/dynamic/sendDynamic",{"userId":spaceUserId,"dynamicContent":dynamicContent});
                                alert("发布成功");
                                closePop();
                                $("#con_dynamic_nonull").load("/dynamic/loadDynamicsByUserId/"+spaceUserId);
                            }
                        </script>
                    </div>
                </div>
            <div id="con_collect">
                <div id="con_collect_null">
                    您的收藏为空！
                </div>
                <div id="con_collect_nonull">

                    <div class="per_collect">
                        <div class="per_collect_video_pic">
                            <img src="/notcommon/personspace/img/videoPic.png"
                                 style="width: 100%; height: 100%; float: left">
                        </div>
                        <div class="per_collect_video_title"><span>宁宁宁宁宁宁宁宁宁</span></div>
                        <div class="per_collect_video_time"><span>收藏时间:</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    <div id="s_footer">footer-->

<!--    </div>-->
</div>
</body>
</html>