<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youngtube-视频列表</title>
    <link rel="stylesheet" th:href="@{/notcommon/Homepage/video/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/notcommon/Homepage/video/css/popuo-box.css}">
    <link rel="stylesheet" th:href="@{/notcommon/Homepage/videoPlay/css/DPlayer.min.css}">

    <link rel="stylesheet" th:href="@{/notcommon/bilibiliIndex/css/reset.css}">
    <link rel="stylesheet" th:href="@{/notcommon/bilibiliIndex/css/common.css}">
    <link rel="stylesheet" th:href="@{/notcommon/bilibiliIndex/css/index.css}">
    <link rel="stylesheet"
          th:href="@{/notcommon/Homepage/video/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/notcommon/list/common.css}">
    <link rel="stylesheet" th:href="@{/notcommon/list/search.css}">

    <script th:src="@{/common/js/jquery-3.3.1.js}"></script>
    <script th:inline="javascript">
        window.onload=function () {
            search2();
            $(".img").click(function ()
            {
                alert("hello");
            })
        }
    </script>
    <script>
        function search2()//搜索相关
        {
            $('#search_text2').click(function() //搜索输入框点击
            {
                $("#search_text2").text('');
            });
            $('#search_text2').blur(function() //搜索输入框失去焦点
            {
                var txt=$("#search_text2").text();
                if(txt=='')
                {
                    $("#search_text2").text('输入搜索内容');
                }

            });
            $("#search_text2").on('keydown',function(event){ //搜索输入框回车
                //获取keyCode
                var keyCode = event.keyCode;
                if(keyCode===13){
                    $("#search_button2").click();
                    $("#search_text2").text('');
                }
            });
            $('#search_button2').click(function () //搜索按钮点击
            {
                var txt=$("#search_text2").text();
                if(txt=='输入搜索内容')
                {
                    $("#search_text2").text('');
                }
                location.href="/pages/toVideoList?searchText="+$("#search_text2").text();
            });
        }
    </script>
</head>
<body>
<!--    引入顶部导航条-->
<div th:replace="/header.html::#header1"></div>
    <div class="page_one">
        <div class="contant">
            <div class="crumbs">
                <p>搜索关键字><span>搜索结果</span></p>

            </div>
            <div class="xinxi clearfix">
                <div class="left">
                    <div class="header">
                        <span>视频信息</span>
                        <span class="jg">作者</span>
                    </div>
                    <ul>
                        <li th:each="singleVideo,singleVideoStat:${videos_page.list}" th:if="${singleVideoStat.index>0&&singleVideoStat.index<=videos_page.list.size() div 2 - 1}">
                            <div class="img"><a th:href="|/pages/toVideoPlay/${singleVideo.videoId}|"><img alt="" th:src="${singleVideo.videoFrontSrc}" height="169px" width="299px"></a></div>
                            <div class="text1">
                                <p><a th:href="|/pages/toVideoPlay/${singleVideo.videoId}|">[[${singleVideo.videoName}]]</a></p>
                                <br/>
                                <p>[[${singleVideo.videoIntroduction}]]</p>
                            </div>
                            <div class="price">
                                <p class="price_num">
                                    <span>[[${video_ups[singleVideoStat.index-1].userPetName}]]</span>
                                </p>
                                <p><a href="route_detail.html">查看详情</a></p>
                            </div>
                        </li>
                    </ul>
                    <div class="page_num_inf">
                        <i></i> 共
                        <span>[[${videos_page.pages}]]</span>页<span>[[${videos_page.total}]]</span>条
                    </div>
                    <div class="pageNum">
                        <ul>
                            <li><a href="">首页</a></li>
                            <li class="threeword"><a href="#">上一页</a></li>
                            <li th:each="pageIndex:${#numbers.sequence(1,videos_page.pages)}" th:if="${videos_page.pages>0}"><a href="#">[[${pageIndex}]]</a></li>
                            <li class="threeword"><a href="javascript:;">下一页</a></li>
                            <li class="threeword"><a href="javascript:;">末页</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="top">
                        <div class="hot">HOT</div>
                        <span>实时热榜</span>
                    </div>
                    <ul>
                        <li>
                            <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                            <div class="right">
                                <p>清远新银盏温泉度假村酒店/自由行套...</p>
                                <p>网付价<span>&yen;<span>899</span>起</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                            <div class="right">
                                <p>清远新银盏温泉度假村酒店/自由行套...</p>
                                <p>网付价<span>&yen;<span>899</span>起</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                            <div class="right">
                                <p>清远新银盏温泉度假村酒店/自由行套...</p>
                                <p>网付价<span>&yen;<span>899</span>起</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                            <div class="right">
                                <p>清远新银盏温泉度假村酒店/自由行套...</p>
                                <p>网付价<span>&yen;<span>899</span>起</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                            <div class="right">
                                <p>清远新银盏温泉度假村酒店/自由行套...</p>
                                <p>网付价<span>&yen;<span>899</span>起</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--引入头部-->
    <div id="footer"></div>
    <!--导入布局js，共享header和footer-->
    <script type="text/javascript" src="js/include.js"></script>
</body>

</html>